[Unit]
Description=macsec networking
Before=nfs-client.target
After=multi-user.target

[Service]
Type=oneshot
WorkingDirectory=/opt/nk-macsec
ExecStart=/opt/nk-macsec/macsec.sh
RemainAfterExit=true
