[Unit]
Description=macsec key broadcast daemon
Before=macsec-receiver.service
After=network.target sys-devices-virtual-net-end0.device multi-user.target
Wants=macsec-receiver.service

[Service]
User=root
WorkingDirectory=/opt/macsec
ExecStartPre=sleep 5
ExecStart=/usr/bin/python3 /opt/macsec/macpipe.py
Restart=always
RestartSec=5
TimeoutStartSec=10

[Install]
WantedBy=multi-user.target
