[Unit]
Description=gwsocket for meshtastic telemetry messages
Before=meshpipe.service
After=multi-user.target
PartOf=meshpipe.service

[Service]
WorkingDirectory=/tmp
KillMode=process
ExecStart=gwsocket -p 7995 --pipein=/tmp/statusin
Restart=always
RestartSec=5
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target
